<!DOCTYPE html>
<html>

<head>
    <title>学生信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" herf="/static/css/teacher.css"> 
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>  
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/teacher.js"></script>
    <style>
        #body {
            background-color:rgb(235, 239, 240);
            width:100%;
        }
        #navigation-nav {
            background-color:rgb(35, 45, 59);
            height: 65px;
            width: 100%;
        }
        #nav_container {
            margin-left: 50px;
        }
        #nav-left > li > h2{
            color:rgb(251, 253, 255);
            width: 150px;
        }
        #nav-left > li > a{
            color:rgb(251, 253, 255);
            font-size: large;
            width: 120px;
            margin-top: 8px;
        }
        #nav-left > li > a:hover{
            background-color:rgb(9, 22, 34);
        }
        #nav-left > li > a:visited{
            background-color:rgb(9, 22, 34);
        }
        #nav-right {
            float: right;
            margin-top: 10px;
        }
        #nav-right > a {
            color:rgb(251, 253, 255);
        }
        #main{
            margin-top: 20px;
            width: 100%;
        }
        #panel {
            background-color:rgb(35, 45, 59);
            color:rgb(251, 253, 255);
        }
        #nav1 {
            border-bottom: 0 none;
            background: rgb(65, 104, 177);
        }
        #nav1 > li > a {
            background: transparent;
            border-radius: 0;
            font-size: 16px;
            border: none;
            color: #333;
            padding: 12px 22px;
        }
        #nav1 > li.active > a, #nav1 > li.active > a > i {
            border: 0 none;
            background:#e67e22;
            color: #fff;
        }
        #nav1 > li.active > a :after {
            content: "";
            position: absolute;
            left: 45%;
            bottom: -14px;
            border: 7px solid transparent;
            border-top: 7px solid #e67e22;
        }
        #n1 {
            padding-top: 5px;
            padding-left: 5px;
            text-align:center;
        }
        #l21 {
            padding-top: 10px;
        }
        #l22 {
            padding-top: 50px;
        }
        #btn{
            background-color:rgb(35, 45, 59);
            color:rgb(251, 253, 255);
            margin-top: 30px;
            width: 200px;
        }
        #submit-btn {
            text-align: center;
        }
        #insert {
            width: 150px;
            color:rgb(251, 253, 255);
            background-color:rgb(35, 45, 59);
        }
        #delete {
            width: 150px;
            color:rgb(251, 253, 255);
            background-color:rgb(35, 45, 59);
        }
        #change {
            width: 150px;
            color:rgb(251, 253, 255);
            background-color:rgb(35, 45, 59);
        }
    </style>

</head>

<body>
    <!-- 导航栏 -->
    <nav id="navigation-nav">
        <div class="container navigation" id="nav_container"> 
            <div class="low">
                <div class="col-xs-10">             
                    <ul class="nav navbar-nav" id="nav-left">
                        <li><h2>工位管理</h2></a></li>
                        <li><a href="{% url 'assign:admin_index' %}">首页</a></li>
                        <li><a href="{% url 'assign:search' %}">查询</a></li>
                        <li><a href="{% url 'assign:admin_info' %}">学生信息</a></li>
                        <li><a href="{% url 'assign:admin_seat' %}">工位管理</a></li>
                        <li><a href="{% url 'assign:admin_account' %}">账户管理</a></li>
                        <li><a href="{% url 'assign:admin_fee' %}">计费</a></li>
                    </ul>
                </div>
                <div class="col-xs-2">
                    <div class="dropdown"  id="nav-right">
                        <a href="#" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" class="form-inline" id="username1"> 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu"> 
                            <li><a href="#"><span class="glyphicon glyphicon-user" id="username2"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'assign:person_info' %}">修改个人信息</a></li>
                            <li><a href="{% url 'assign:logout' %}">退出登录</a></li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </nav>
    <div class="container main" id="main">
        <div class="well" id="well">
            <h3 class="text-center">学生信息</h3>
            
                <!--<button class="btn btn-primary btn-lg" id="insert" onclick="show_InsertFrame();close_UpdateFrame();">添加</button>-->
            <!-- testing -->
            <label>
                <input type="search" placeholder="Search...">
            </label>    
            
            <table id="table" class="container table table-bordered text-center">
                <thead id="row0">
                    <tr>
                        <td>选择</td>
                        <td>学号</td>
                        <td>姓名</td>
                        <td>学生身份(类型)</td>
                        <td>导师</td>
                        <td>入学年份</td>
                        <td>所在房间</td>
                        <td>工位编号</td>
                    </tr>
                </thead>
                <tbody id="tablebody">
                </tbody>
            </table>
        </div>
        
    <div id="submit-btn">
        <button class="btn btn-primary btn-lg" id="insert" data-toggle="modal" data-target="#mymodal" onclick="setnull();">添加</button>
        <button class="btn btn-primary btn-lg" id="delete" onclick="del()">删除</button>
        <button class="btn btn-primary btn-lg" id="change" data-toggle="modal" data-target="#mymodal" onclick="updateinfo();">修改</button>
    </div>
       
    </div>

    <!-- 模态框（Modal） -->
	<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">修改信息</h4>
				</div>
				<div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>学号</label>
                            <input type="text" class="form-control" name="stuno" id="stuno" placeholder="请输入学号">
                        </div>
                        <div class="form-group">
                            <label>姓名</label>
                            <input type="text" class="form-control" name="stuname" id="stuname" placeholder="请输入名称">
                        </div>

                        <div class="form-group">
                            <label>学生类型(身份)</label>
                            <div class="btn-group dropdown" id="dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="buttonText">点击选择</span>
                                    <span class="caret"></span>
                                </button>
                                <input type="hidden" class="form-control" name="stucls" id="stucls">
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="first" onclick="Set($(this).text())">直博</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" onclick="Set($(this).text())">普通博士</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" onclick="Set($(this).text())">学硕</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" onclick="Set($(this).text())">非全日制工硕</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" onclick="Set($(this).text())">全日制工硕</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>导师</label>
                            <input type="text" class="form-control" name="stuteacher" id="stuteacher" placeholder="请输入导师名称">
                        </div>
                        <div class="form-group">
                            <label>入学年份：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="studate" id="studate" placeholder="请选择学生入学年份">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>



                        <!-- <div class="form-group">
        <label >入学年份</label>
        <input type="text" class="form-control" name = "studate" id="studate" placeholder="请输入学生入学年份2020-9-1">
    </div> -->
                    </form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick = "addlist()" data-dismiss="modal" >提交更改</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	<!-- 模态框（Modal）end -->
    <!-- 提交成功模态框（Modal） --> 
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align:center;"><h1 id="title">提交成功</h1></div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" style="padding-right: 240px;">                                           
                        <a href="" class="btn btn-primary btn-lg" data-dismiss="modal">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 判断不为空模态框（Modal） --> 
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align:center;"><h1 id="title">输入框不能为空，请重新输入</h1></div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" style="padding-right: 240px;">                                           
                        <a href="" class="btn btn-primary btn-lg" data-dismiss="modal" onclick="showmodal()">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var count=0;//记录现在数组里有几个元素。
    var stunamelist=[];//姓名
    var stunolist=[];//学号
    var stuclslist = [];//身份类型
    var stuteacherlist = [];//导师
    var studatelist = [];//日期
    var sturoomlist = [];//所在房间
    var seatlist = [];//工位号
    //var sturoomlist = [];//全局上的数组，存储信息。最后提交。对应学生的各种信息。
    var buttonid;//用来判断是修改还是插入。

    window.onload = function(){
        get_user();
        a();
    }

    function Set(a){
        $('#buttonText').text(a);
        var s = document.getElementById("stucls");
        var t = a;
        s.setAttribute('value', t);
    }

    function setnull(){
        document.getElementsByName("stuno")[0].value = "";
        document.getElementsByName("stuname")[0].value = "";
        document.getElementsByName("studate")[0].value = "";
        document.getElementsByName("stuteacher")[0].value = "";
        document.getElementById("first").onclick();
        buttonid = 0;
    }
    function updateinfo() {
        var couttmp = count;
        for (var i = 0; i < count; i++) {
            var tmp = document.getElementById(i);
            if (tmp.checked) {
                var par = tmp.parentNode;//得到的是td
                //par.parentNode.removeChild(par);//删除，然后count-1
                //couttmp = couttmp - 1;
                //stunamelist[i] = 0;
                //stunolist[i] = 0;
                //stuclslist[i] = 0;
                //stuteacherlist[i] = 0;
                //studatelist[i] = 0;
                //sturoomlist[i] = 0;
                //seatlist[i] = 0;
                document.getElementsByName("stuno")[0].value = stunolist[i];
                document.getElementsByName("stuname")[0].value = stunamelist[i];
                document.getElementsByName("studate")[0].value = studatelist[i];
                document.getElementsByName("stucls")[0].value = stuclslist[i];
                document.getElementsByName("stuteacher")[0].value = stuteacherlist[i];
                document.getElementById(stuclslist[i]-1).onclick();
                //console.log(stunamelist);  
                buttonid = 1;
                break;
            }
        }
    }
    function get_user(){
        var username = JSON.parse('{{ username|safe }}');
        document.getElementById("username1").appendChild(document.createTextNode(username));
        document.getElementById("username2").appendChild(document.createTextNode(username));
    }

    function showmodal(){
        $('#mymodal').modal();
    }
    //search module
    const search = document.querySelector('input[type="search"]');
    const stus = document.querySelectorAll('tbody tr');

    //input的事件监听器:
    search.addEventListener('input',() => {
        let input=search.value.trim().toLowerCase();
        // console.log(input)   //to see the input in the console
        stus.forEach(stu=>{
            let sno=stu.querySelector('td:nth-child(2)').textContent
            let sname=stu.querySelector('td:nth-child(3)').textContent
            let stype=stu.querySelector('td:nth-child(4)').textContent
            let steacher=stu.querySelector('td:nth-child(5)').textContent
            let allinfo=sno+' '+sname+' '+stype+' '+steacher;
            // console.log(allinfo)
            let reg=new RegExp(input,'gi')
            if(!reg.test(allinfo)){
                stu.classList.add("hidden")
            }else {
                stu.classList.remove("hidden")
            }
        })
    })

    function addlist(){
        var stuname = document.getElementsByName("stuname")[0].value;
        var stuno = document.getElementsByName("stuno")[0].value;
        var stucls = document.getElementsByName("stucls")[0].value;
        var studate = document.getElementsByName("studate")[0].value;
        if(stuname == "" || stuno == "" || stucls == "" || studate == ""){
            $('#myModal2').modal();
        }
        else{
            //执行插入操作。
            var para=document.createElement("tr");
            var tdchoose = document.createElement("input");
            tdchoose.type = 'checkbox';
            tdchoose.id = count;
            
            var node1 = document.createTextNode("选择");
            tdchoose.appendChild(node1);
            para.appendChild(tdchoose);
    
            var tdno = document.createElement("td");
            var node2=document.createTextNode(document.getElementsByName("stuno")[0].value);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tdno.appendChild(node2);//向<li>元素追加了这个文本节点
            para.appendChild(tdno);

            var tdname = document.createElement("td");
            var node=document.createTextNode(document.getElementsByName("stuname")[0].value);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tdname.appendChild(node);//向元素追加了这个文本节点
            para.appendChild(tdname);

            var tdcls = document.createElement("td");
            var node3=document.createTextNode(document.getElementsByName("stucls")[0].value);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tdcls.appendChild(node3);//向<li>元素追加了这个文本节点
            para.appendChild(tdcls);

            var tdteacher = document.createElement("td");
            var node4 = document.createTextNode(document.getElementsByName("stuteacher")[0].value);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tdteacher.appendChild(node4);//向<li>元素追加了这个文本节点
            para.appendChild(tdteacher);

            var tddate = document.createElement("td");
            var node5=document.createTextNode(document.getElementsByName("studate")[0].value);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tddate.appendChild(node5);//向<li>元素追加了这个文本节点
            para.appendChild(tddate);

            var tdroom = document.createElement("td");
            para.appendChild(tdroom);

            var tdseat = document.createElement("td");
            para.appendChild(tdseat);


            //最后必须向一个已有的元素追加这个新元素
            var element=document.getElementById("tablebody");//这段代码找到一个已有的元素
            element.appendChild(para);//这段代码向这个已有的元素追加新元素

            stunamelist.push(document.getElementsByName("stuname")[0].value);
            stunolist.push(document.getElementsByName("stuno")[0].value);
            stuclslist.push(document.getElementsByName("stucls")[0].value);
            stuteacherlist.push(document.getElementsByName("stuteacher")[0].value);
            studatelist.push(document.getElementsByName("studate")[0].value);
            sturoomlist.push(document.createTextNode("0"));
            seatlist.push(document.createTextNode("0"));

            count += 1;
        }
        if (buttonid = 1) {
            del();
        }
        update();
	}

    function update(){
        //传参。传的是数组，比如stunamelist对应一个数组，一起传进去。
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
        $.ajax({
            type: "POST",
            url: "{% url 'assign:admin_info' %}",
            traditional: true,
            async:false,
            data:{sno:stunolist,sname:stunamelist,stype:stuclslist,steacher:stuteacherlist,sdate:studatelist},
            //data: "stuname=" + stuname + "&stuno=" + stuno + /*"&name=" + name +*/ "&sex=" + sex,
            //dataType: 'html',
            //contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success: function(result) {
                result = JSON.parse(result);
                if(result["status"] == 1){
                    $('#myModal1').modal();
                }
            },
            error: function(e){
                alert("提交失败");
            }
        });

    }

    function del(){
        //$("input[name = 'ball']:checked").val()
        var couttmp = count;
        for(var i = 0; i < count; i++){
            var tmp = document.getElementById(i);
            if(tmp.checked){
                var par = tmp.parentNode;//得到的是td
                //var par1 = par.parentNode;//得到的是tr   
                par.parentNode.removeChild(par);//删除，然后count-1
                //count = count-1;
                couttmp = couttmp-1;
                //stunamelist = stunamelist.splice(i,1);
                stunamelist[i] = 0;
                stunolist[i] = 0;
                stuclslist[i] = 0;
                stuteacherlist[i] = 0;
                studatelist[i] = 0;
                sturoomlist[i] = 0;
                seatlist[i] = 0;
                //console.log(stunamelist);  
                //break;
            }
        }

        //重建数组。
        stunamelist = stunamelist.filter(function(item) {
            return item != "0";
        });
        //console.log(stunamelist); 
        stunolist = stunolist.filter(function(item) {
            return item != "0";
        });
        stuclslist = stuclslist.filter(function(item) {
            return item != "0";
        });
        stuteacherlist = stuteacherlist.filter(function (item) {
            return item != "0";
        });
        studatelist = studatelist.filter(function(item) {
            return item != "0";
        });
        sturoomlist = sturoomlist.filter(function(item) {
            return item != "0";
        });
        seatlist = seatlist.filter(function(item) {
            return item != "0";
        });
        
        count = couttmp;
        var parents = document.getElementById("tablebody");
        //console.dirxml(parents);
        for(var i=0; i < parents.children.length; i++){
            
            var childtr = parents.children[i];
            //console.dirxml(childtr);
            var tmp = childtr.firstElementChild;
            //console.dirxml(tmp);
            tmp.id = i;

        }

        update();
    }

    function a() {//页面加载时运行的函数。
        //正式运行时把下面取消下面这行注释，把第二行注释掉。
        var list_student_info = JSON.parse('{{ list_student_info|safe }}');//传入一个数据。
        
        for(var i = 0; i < list_student_info.length; i++){
            var para=document.createElement("tr");
            var tdchoose = document.createElement("input");
            tdchoose.type = 'checkbox';
            tdchoose.id = count;
        
            var node1 = document.createTextNode("选择");
            tdchoose.appendChild(node1);
            para.appendChild(tdchoose);
    
            var tdno = document.createElement("td");
            var node1=document.createTextNode(list_student_info[i][0]);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tdno.appendChild(node1);//追加了这个文本节点
            para.appendChild(tdno);

            var tdname = document.createElement("td");
            var node2=document.createTextNode(list_student_info[i][1]);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tdname.appendChild(node2);//向元素追加了这个文本节点
            para.appendChild(tdname);

            var tdcls = document.createElement("td");
            var node3=document.createTextNode(list_student_info[i][2]);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tdcls.appendChild(node3);//向<li>元素追加了这个文本节点
            para.appendChild(tdcls);

            var tdteacher = document.createElement("td");
            var node31 = document.createTextNode(list_student_info[i][3]);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tdteacher.appendChild(node31);//向<li>元素追加了这个文本节点
            para.appendChild(tdteacher);

            var tddate = document.createElement("td");
            var node4=document.createTextNode(list_student_info[i][4]);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
            tddate.appendChild(node4);//向<li>元素追加了这个文本节点
            para.appendChild(tddate);
            
            var tdroom = document.createElement("td");
            if(list_student_info[i][5] != null){
                var node5=document.createTextNode(list_student_info[i][5]);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
                tdroom.appendChild(node5);//向<li>元素追加了这个文本节点
            }
            para.appendChild(tdroom);
            
            var tdseat = document.createElement("td");
            if(list_student_info[i][6] != null){
                var node6=document.createTextNode(list_student_info[i][6]);//如需向<li>元素添加文本，必须首先创建文本节点。这段代码创建了一个文本节点
                tdseat.appendChild(node6);//向<li>元素追加了这个文本节点
            }
            para.appendChild(tdseat);

            //最后必须向一个已有的元素追加这个新元素
            var element=document.getElementById("tablebody");//这段代码找到一个已有的元素
            element.appendChild(para);//这段代码向这个已有的元素追加新元素

            stunolist.push(list_student_info[i][0]);
            stunamelist.push(list_student_info[i][1]);
            stuclslist.push(list_student_info[i][2]);
            stuteacherlist.push(list_student_info[i][3]);
            studatelist.push(list_student_info[i][4]);
            sturoomlist.push(list_student_info[i][5]);
            seatlist.push(list_student_info[i][6]);

            count += 1;
        }
        
    } 

    
$(function () {
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY.MM.DD',
        locale: moment.locale('zh-cn')
    });
});



</script>
</html>