<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>实验室工位管理系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #body {
            background-color:rgb(235, 239, 240);
            width:100%;
        }
        #navigation-nav {
            background-color:rgb(35, 45, 59);
            height: 65px;
            width: 100%;
        }
        #nav_container {
            margin-left: 50px;
        }
        #nav-left > li > h2{
            color:rgb(251, 253, 255);
            width: 150px;
        }
        #nav-left > li > a{
            color:rgb(251, 253, 255);
            font-size: large;
            width: 120px;
            margin-top: 8px;
        }
        #nav-left > li > a:hover{
            background-color:rgb(9, 22, 34);
        }
        #nav-left > li > a:visited{
            background-color:rgb(9, 22, 34);
        }
        #nav-right {
            float: right;
            margin-top: 10px;
        }
        #nav-right > a {
            color:rgb(251, 253, 255);
        }
        #main{
            margin-top: 20px;
            width: 100%;
        }
        #panel {
            background-color:rgb(35, 45, 59);
            color:rgb(251, 253, 255);
        }
        #nav1 {
            border-bottom: 0 none;
            background: rgb(65, 104, 177);
        }
        #nav1 > li > a {
            background: transparent;
            border-radius: 0;
            font-size: 16px;
            border: none;
            color: #333;
            padding: 12px 22px;
        }
        #nav1 > li.active > a, #nav1 > li.active > a > i {
            border: 0 none;
            background:#e67e22;
            color: #fff;
        }
        #nav1 > li.active > a :after {
            content: "";
            position: absolute;
            left: 45%;
            bottom: -14px;
            border: 7px solid transparent;
            border-top: 7px solid #e67e22;
        }
        #n1 {
            padding-top: 5px;
            padding-left: 5px;
            text-align:center;
        }
        #btn1{
            background-color:rgb(35, 45, 59);
            color:rgb(251, 253, 255);
            margin-top: 10px;
           
        }
        #btn2{
            background-color:rgb(35, 45, 59);
            color:rgb(251, 253, 255);
            margin-left: 30px;
            margin-top: 10px;
        }
    </style>
</head>

<body id="body">
    <!-- 导航栏 -->
    <nav id="navigation-nav">
        <div class="container navigation" id="nav_container"> 
            <div class="low">
                <div class="col-xs-8">             
                    <ul class="nav navbar-nav" id="nav-left">
                        <li><h2>工位管理</h2></a></li>
                        <li><a href="{% url 'assign:teacher_index' %}">首页</a></li>                            
                        <li><a href="{% url 'assign:search' %}">查询</a></li>
                        <li><a href="{% url 'assign:teacher_enroll' %}">学生管理</a></li>
                        <li><a href="{% url 'assign:teacher_fee' %}">计费</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <div class="dropdown"  id="nav-right">
                        <a href="#" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" class="form-inline" id="username1"> 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu"> 
                            <li><a href="#"><span class="glyphicon glyphicon-user" id="username2"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'assign:person_info' %}">修改个人信息</a></li>
                            <li><a href="{% url 'assign:logout' %}">退出登录</a></li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </nav>

    <div class="container main" id="main">
        <div class="row">
            <div class="col-sm-1">
                <nav class="navbar navbar-default" id="n1">
                    <div class="picture" id='p1'>
                    </div>
                </nav>
            </div>
            <div class="col-sm-11">
                    <ul class="nav nav-tabs nav-justified" id="nav1">
                        <li class="active"><a href="#ftab1" onclick="Getlab(1)" data-toggle="tab">最初视图</a></li>
                        <li><a href="#ftab2" data-toggle="tab" onclick="Getlab(2)">只显示该导师的学生</a></li>
                    </ul>
                    <!-- 主体 -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="ftab1">                
                            <div class="low">
                                <ul class="nav nav-tabs" id="ntabs1">               
                                </ul>
                                <div class="tab-content" id="ctabs1">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ftab2">
                            <div class="low">
                                <ul class="nav nav-tabs" id="ntabs2">               
                                </ul>
                                <div class="tab-content" id="ctabs2">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    function init_tab(list_lab_info, count){
        if(count == 1){
            for(var i = 0; i < list_lab_info.length; i++){
                var l = document.createElement("li");
                var a = document.createElement("a");
                var e = '#lab' + String(count) + String(i);
                a.setAttribute('href', e);
                a.setAttribute('id', 'a' + String(count) + String(i));
                a.setAttribute('data-toggle', 'tab');
                a.setAttribute('onclick', 'Change_Picture(' + String(list_lab_info[i][0]) + ',' + String(count) + ')');
                a.appendChild(document.createTextNode('实验室' + String(list_lab_info[i][0])));
                l.appendChild(a);
                document.getElementById("ntabs" + String(count)).appendChild(l);
            }
        }       
        else{
            var list_index= JSON.parse('{{ list_index|safe }}');
            for(var i = 0; i < list_index.length; i++){
                var l = document.createElement("li");
                var a = document.createElement("a");
                var e = '#lab' + String(count) + String(i);
                a.setAttribute('href', e);
                a.setAttribute('id', 'a' + String(count) + String(i));
                a.setAttribute('data-toggle', 'tab');
                a.setAttribute('onclick', 'Change_Picture(' + String(list_lab_info[list_index[i]][0]) + ',' + String(count) + ')');
                a.appendChild(document.createTextNode('实验室' + String(list_lab_info[list_index[i]][0])));
                l.appendChild(a);
                document.getElementById("ntabs" + String(count)).appendChild(l);
        }
        }                                          
    }
    function init_tabcontent(list_lab_info, count){
        if(count == 1){
            for(var i = 0; i < list_lab_info.length; i++){
                if(i == 0){
                    var d1 = document.createElement("div");
                    d1.setAttribute('class', 'tab-pane fade in active');
                    d1.setAttribute('id', 'lab' + String(count) + String(i));
                    var d2 = document.createElement("div");
                    d2.setAttribute('class', 'well');                                                        
                    var d3 = document.createElement("div");
                    d3.setAttribute('class', 'panel panel-body');
                    d3.setAttribute('id', 'panel');
                    d3.setAttribute('style', 'text-align: center;');
                    d3.appendChild(document.createTextNode('实验室' + String(list_lab_info[i][0]) + '工位布局图'));

                    var ta = document.createElement("table");
                    ta.setAttribute('class', 'table table-bordered');
                    var tb = document.createElement("tbody");
                    tb.setAttribute('id', 'tbody' + String(count) + String(i));

                    ta.appendChild(tb);
                    d2.appendChild(d3);
                    d2.appendChild(ta);                             
                    d1.appendChild(d2);

                    document.getElementById("ctabs" + String(count)).appendChild(d1);
                }
                else{
                    var d1 = document.createElement("div");
                    d1.setAttribute('class', 'tab-pane fade');
                    d1.setAttribute('id', 'lab' + String(count) + String(i));
                    var d2 = document.createElement("div");
                    d2.setAttribute('class', 'well');
                    var d3 = document.createElement("div");
                    d3.setAttribute('class', 'panel panel-body');
                    d3.setAttribute('id', 'panel');
                    d3.setAttribute('style', 'text-align: center;');
                    d3.appendChild(document.createTextNode('实验室' + String(list_lab_info[i][0]) + '工位布局图'));

                    var ta = document.createElement("table");
                    ta.setAttribute('class', 'table table-bordered');
                    var tb = document.createElement("tbody");
                    tb.setAttribute('id', 'tbody' + String(count) + String(i));

                    ta.appendChild(tb);
                    d2.appendChild(d3);
                    d2.appendChild(ta);                                                               
                    d1.appendChild(d2);

                    document.getElementById("ctabs" + String(count)).appendChild(d1);
                }
            }
        }
        else{
            var list_index = JSON.parse('{{ list_index|safe }}');
            for(var i = 0; i < list_index.length; i++){
                if(i == 0){
                    var d1 = document.createElement("div");
                    d1.setAttribute('class', 'tab-pane fade in active');
                    d1.setAttribute('id', 'lab' + String(count) + String(i));
                    var d2 = document.createElement("div");
                    d2.setAttribute('class', 'well');                                                        
                    var d3 = document.createElement("div");
                    d3.setAttribute('class', 'panel panel-body');
                    d3.setAttribute('id', 'panel');
                    d3.setAttribute('style', 'text-align: center;');
                    d3.appendChild(document.createTextNode('实验室' + String(list_lab_info[list_index[i]][0]) + '工位布局图'));

                    var ta = document.createElement("table");
                    ta.setAttribute('class', 'table table-bordered');
                    var tb = document.createElement("tbody");
                    tb.setAttribute('id', 'tbody' + String(count) + String(i));

                    ta.appendChild(tb);
                    d2.appendChild(d3);
                    d2.appendChild(ta);                             
                    d1.appendChild(d2);

                    document.getElementById("ctabs" + String(count)).appendChild(d1);
                }
                else{
                    var d1 = document.createElement("div");
                    d1.setAttribute('class', 'tab-pane fade');
                    d1.setAttribute('id', 'lab' + String(count) + String(i));
                    var d2 = document.createElement("div");
                    d2.setAttribute('class', 'well');
                    var d3 = document.createElement("div");
                    d3.setAttribute('class', 'panel panel-body');
                    d3.setAttribute('id', 'panel');
                    d3.setAttribute('style', 'text-align: center;');
                    d3.appendChild(document.createTextNode('实验室' + String(list_lab_info[list_index[i]][0]) + '工位布局图'));

                    var ta = document.createElement("table");
                    ta.setAttribute('class', 'table table-bordered');
                    var tb = document.createElement("tbody");
                    tb.setAttribute('id', 'tbody' + String(count) + String(i));

                    ta.appendChild(tb);
                    d2.appendChild(d3);
                    d2.appendChild(ta);                                                               
                    d1.appendChild(d2);

                    document.getElementById("ctabs" + String(count)).appendChild(d1);
                }
            }
        }
    }
    function init_table(num, count, list_lab_info, list_seat_info, dict_color, tid){
        if(count == 1){                                
            var r = list_lab_info[num][1];
            var c = list_lab_info[num][2];
            for(var i = 0; i < r; i++){
                var row=document.createElement("tr"); 
                for(var j = 0; j < c; j++){
                    var cell=document.createElement("td");
                    cell.setAttribute('height', '80px');
                    cell.setAttribute('width', '100px');
                    cell.setAttribute('style','white-space: pre-line;font-size: 12px;');
                    for(var k = 0; k < list_seat_info[num].length; k++){
                        if(list_seat_info[num][k][0] == i && list_seat_info[num][k][1] == j){
                            if(list_seat_info[num][k][3] == '2'){
                                var message = "大门";
                                cell.appendChild(document.createTextNode(message));
                                cell.style.border = '3px rgb(35, 45, 59) solid';
                                cell.style.textAlign = "center";
                                break;
                            }
                            else if(list_seat_info[num][k][4] == '0'){
                                var message = "空闲工位";
                                cell.style.background = "rgb(70, 76, 83)";
                                cell.style.color = "white";
                                cell.appendChild(document.createTextNode(message));
                                cell.style.textAlign = "center";
                                break;
                            }
                            else if(count == 1){
                                if(list_seat_info[num][k][3] == '0'){
                                    var message = "姓名：" + list_seat_info[num][k][5] + "\n";
                                    message += "学号：" + list_seat_info[num][k][6] + "\n";
                                    message += "工位号："+ list_seat_info[num][k][2];
                                    cell.appendChild(document.createTextNode(message));                            
                                    cell.style.background = dict_color[list_seat_info[num][k][8]];
                                    break;
                                }
                                else if(list_seat_info[num][k][3] == '1'){
                                    var message = "姓名：" + list_seat_info[num][k][5] + "\n";
                                    message += "学号：" + list_seat_info[num][k][6] + "\n";
                                    message += "工位号："+ list_seat_info[num][k][2];
                                    cell.appendChild(document.createTextNode(message));                            
                                    cell.style.background = dict_color[list_seat_info[num][k][8]];
                                    cell.style.border = '3px rgb(35, 45, 59) solid';
                                    break;
                                }
                            }
                            else{
                                if(list_seat_info[num][k][3] == '0'){
                                    var message = "姓名：" + list_seat_info[num][k][5] + "\n";
                                    message += "学号：" + list_seat_info[num][k][6] + "\n";
                                    message += "工位号："+ list_seat_info[num][k][2];
                                    cell.appendChild(document.createTextNode(message));
                                    if(list_seat_info[num][k][8] == tid){                            
                                        cell.style.background = dict_color[list_seat_info[num][k][8]];
                                    }
                                    break;
                                }
                                else if(list_seat_info[num][k][3] == '1'){
                                    var message = "姓名：" + list_seat_info[num][k][5] + "\n";
                                    message += "学号：" + list_seat_info[num][k][6] + "\n";
                                    message += "工位号："+ list_seat_info[num][k][2];
                                    cell.appendChild(document.createTextNode(message));                            
                                    if(list_seat_info[num][k][8] == tid){                            
                                        cell.style.background = dict_color[list_seat_info[num][k][8]];
                                    }
                                    cell.style.border = '3px rgb(35, 45, 59) solid';
                                    break;
                                }                            
                            }
                        }
                    }
                    row.appendChild(cell);
                }
                document.getElementById("tbody" + String(count) + String(num)).appendChild(row); 
            }
        }
        else{
            var list_index = JSON.parse('{{ list_index|safe }}');
            var li = list_index[num];
            var r = list_lab_info[li][1];
            var c = list_lab_info[li][2];
            for(var i = 0; i < r; i++){
                var row=document.createElement("tr"); 
                for(var j = 0; j < c; j++){
                    var cell=document.createElement("td");
                    cell.setAttribute('height', '80px');
                    cell.setAttribute('width', '100px');
                    cell.setAttribute('style','white-space: pre-line;font-size: 12px;');
                    for(var k = 0; k < list_seat_info[li].length; k++){
                        if(list_seat_info[li][k][0] == i && list_seat_info[li][k][1] == j){
                            if(list_seat_info[li][k][3] == '2'){
                                var message = "大门";
                                cell.appendChild(document.createTextNode(message));
                                cell.style.border = '3px rgb(35, 45, 59) solid';
                                cell.style.textAlign = "center";
                                break;
                            }
                            else if(list_seat_info[li][k][4] == '0'){
                                var message = "空闲工位";
                                cell.style.background = "rgb(70, 76, 83)";
                                cell.style.color = "white";
                                cell.appendChild(document.createTextNode(message));
                                cell.style.textAlign = "center";
                                break;
                            }
                            else if(count == 1){
                                if(list_seat_info[li][k][3] == '0'){
                                    var message = "姓名：" + list_seat_info[li][k][5] + "\n";
                                    message += "学号：" + list_seat_info[li][k][6] + "\n";
                                    message += "工位号："+ list_seat_info[li][k][2];
                                    cell.appendChild(document.createTextNode(message));                            
                                    cell.style.background = dict_color[list_seat_info[li][k][8]];
                                    break;
                                }
                                else if(list_seat_info[li][k][3] == '1'){
                                    var message = "姓名：" + list_seat_info[li][k][5] + "\n";
                                    message += "学号：" + list_seat_info[li][k][6] + "\n";
                                    message += "工位号："+ list_seat_info[li][k][2];
                                    cell.appendChild(document.createTextNode(message));                            
                                    cell.style.background = dict_color[list_seat_info[li][k][8]];
                                    cell.style.border = '3px rgb(35, 45, 59) solid';
                                    break;
                                }
                            }
                            else{
                                if(list_seat_info[li][k][3] == '0'){
                                    var message = "姓名：" + list_seat_info[li][k][5] + "\n";
                                    message += "学号：" + list_seat_info[li][k][6] + "\n";
                                    message += "工位号："+ list_seat_info[li][k][2];
                                    cell.appendChild(document.createTextNode(message));
                                    if(list_seat_info[li][k][8] == tid){                            
                                        cell.style.background = dict_color[list_seat_info[li][k][8]];
                                    }
                                    break;
                                }
                                else if(list_seat_info[li][k][3] == '1'){
                                    var message = "姓名：" + list_seat_info[li][k][5] + "\n";
                                    message += "学号：" + list_seat_info[li][k][6] + "\n";
                                    message += "工位号："+ list_seat_info[li][k][2];
                                    cell.appendChild(document.createTextNode(message));                            
                                    if(list_seat_info[li][k][8] == tid){                            
                                        cell.style.background = dict_color[list_seat_info[li][k][8]];
                                    }
                                    cell.style.border = '3px rgb(35, 45, 59) solid';
                                    break;
                                }                            
                            }
                        }
                    }
                    row.appendChild(cell);
                }
                document.getElementById("tbody" + String(count) + String(num)).appendChild(row); 
            }
        }
    }
    function init_Picture(dict_color, dict_tname){
        var list_lab_teacher = JSON.parse('{{ list_lab_teacher|safe }}');
        for(var i = 1; i <list_lab_teacher[0].length; i++){
            var p = document.createElement("p");
            p.appendChild(document.createTextNode(dict_tname[list_lab_teacher[0][i]]));
            var d = document.createElement("div");
            d.setAttribute('class', 'panel panel-body');
            d.setAttribute('style', 'width: 100px;');
            d.style.background = dict_color[list_lab_teacher[0][i]];
            document.getElementById("p1").appendChild(p);
            document.getElementById("p1").appendChild(d);
        }
    }
    function Change_Picture(n, count){
        var tid = JSON.parse('{{ tid|safe }}');
        var list_lab_teacher = JSON.parse('{{ list_lab_teacher|safe }}');
        var dict_color = JSON.parse('{{ dict_color|safe }}');
        var dict_tname = JSON.parse('{{ dict_tname|safe }}');
        var nav = document.getElementById("n1");
        var pict = document.getElementById("p1");
        nav.removeChild(pict);
        var pict1 = document.createElement("div");
        pict1.setAttribute('class', 'picture');
        pict1.setAttribute('id', 'p1');
        if(count == 1){
            for(var i = 0; i < list_lab_teacher.length; i++){
                if(list_lab_teacher[i][0] == n){
                    for(var j = 1; j < list_lab_teacher[i].length; j++){
                        var p = document.createElement("p");
                        p.appendChild(document.createTextNode(dict_tname[list_lab_teacher[i][j]]));
                        var d = document.createElement("div");
                        d.setAttribute('class', 'panel panel-body');
                        d.setAttribute('style', 'width: 100px;');
                        d.style.background = dict_color[list_lab_teacher[i][j]];
                        pict1.appendChild(p);
                        pict1.appendChild(d);
                    }
                    break;
                }
            }
        }
        else if(count == 2){
            var p = document.createElement("p");
            p.appendChild(document.createTextNode(dict_tname[tid]));
            var d = document.createElement("div");
            d.setAttribute('class', 'panel panel-body');
            d.setAttribute('style', 'width: 100px;');
            d.style.background = dict_color[tid];
            pict1.appendChild(p);
            pict1.appendChild(d);
        }
        nav.appendChild(pict1);
    }
    function Getlab(count){
        document.getElementById("a" + String(count) + "0").click();
    }
    function get_user(){
        var username = JSON.parse('{{ username|safe }}');
        document.getElementById("username1").appendChild(document.createTextNode(username));
        document.getElementById("username2").appendChild(document.createTextNode(username));
    }
    window.onload = function() {
        var tid = JSON.parse('{{ tid|safe }}');
        var list_lab_info = JSON.parse('{{ list_lab_info|safe }}');
        var list_index = JSON.parse('{{ list_index|safe }}');
        var list_seat_info = JSON.parse('{{ list_seat_info|safe }}'); 
        var dict_color = JSON.parse('{{ dict_color|safe }}');
        var dict_tname = JSON.parse('{{ dict_tname|safe }}');
        
        get_user();
        init_Picture(dict_color, dict_tname);
        init_tab(list_lab_info, 1);
        init_tab(list_lab_info, 2); 
        init_tabcontent(list_lab_info, 1);
        init_tabcontent(list_lab_info, 2);
        for(var num = 0; num < list_lab_info.length; num++){
            init_table(num, 1, list_lab_info, list_seat_info, dict_color, tid);
        }
        for(var num = 0; num < list_index.length; num++){
            init_table(num, 2, list_lab_info, list_seat_info, dict_color, tid);
        }
    }                
</script>    

</html>